.wrapper-login {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin-top: 90px;

	input {
		font-family: 'Raleway', sans-serif;
		color: black;
		padding: 5px 0px;
		width: 500px;
		border-top: 0px;
		border-right: 0px;
		border-left: 0px;
		border-bottom: 2px solid #ffa0bd;
		background-color: transparent;
		transition: 0.5s all ease-in-out;
		font-size: 1.1em;
		margin-bottom: 21px;

		&:focus {
			outline: none;
			border-bottom: 1px solid #ff5594;
		}
	}
}

.right-column {
	margin-left: 10px;

	button {
		cursor: pointer;
		height: 42px;
		width: 90px;
		font-size: 1em;
		font-weight: 500;
		border: 1px solid transparent;
		transition: all 0.5s ease-in-out;
		background-color: #ffa0bd;
		color: white;

		&:active,
		&:focus {
			outline: none;
		}

		&:hover {
			background-color: #ff5594;
		}
	}
}

.left-column {
	margin-left: 200px;
}

@media (max-width: 615px) {
	.wrapper-login {
		display: grid;
		grid-template-columns: 1fr;
		margin-top: 33px;

		input {
			width: 250px;
		}

		.left-column {
			margin-left: 50px;
		}

		.right-column {
			margin-left: 50px;
			font-size: 0.75rem;
		}

		.left-column img {
			object-fit: cover;
			object-position: center;
			height: 150px;
			width: 250px;
		}
	}
}
