.category-wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;

	img {
		object-fit: cover;
		object-position: center;
	}
}

.images-container {
	img {
		object-fit: cover;
		object-position: center;
	}
}

.category-link-wrapper {
	height: 90px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	justify-items: center;
	align-items: center;
}

.category-link {
	font-size: 1.5em;
	a {
		color: #ffa0bd;
		text-decoration: none;
		&:hover {
			color: #ff5594;
		}
	}
}

@media screen and (max-width: 768px) {
	.category-link-wrapper {
		display: grid;
		grid-template-columns: 1fr;
		margin-top: 10px;
	}

	.images-container {
		img {
			width: 185px;
			height: 95px;
		}
	}
}
